body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-light-background {
  background: rgb(235,255,252);
  background: linear-gradient(180deg, rgba(235,255,252,1) 0%, rgba(255,255,255,1) 100%);
}

@media only screen 
   and (max-width : 600px) {
   /* Styles here */
   .hero {
    display: none;
   }
}